<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <h2>Welcome to my profile solution</h2>
    <p>The home screen will be designed here</p>
    <p>This section will give the login and signup options and description about the page</p>
    <p><a href= {% url 'profile:profile' %}>Goto</a> Profile</p>
  </body>
</html>
