{% block git_repos %}
<div class="git_repos">
  <h2 class="header-secondary">Git Repos</h2>
  <div class="git_repos__list"></div>
  {% comment %} Repo format:

  <div class="git_repo">
    <h3 class="header-tartiary">Bhuawn's Project 1</h3>
    <div class="git_repo__identity">
      <span class="get_repo__identity--author">Bhuwan-web</span><br />
      <span class="git_repo__identity--language">Python</span>
    </div>
    <div class="git_repo__description">Description</div>
    <div class="git_repo__footer">
      <div class="git_repo__footer--element">
        <span>Created at</span><br /><span>2078/01/29</span>
      </div>
      <div class="git_repo__footer--element">
        <span>Last update</span><br /><span>2078/01/29</span>
      </div>
      <div class="git_repo__footer--element">
        <span>Watch</span><br /><span>1</span>
      </div>
      <div class="git_repo__footer--element">
        <span>Stars</span><br /><span>0</span>
      </div>
    </div>

    {% endcomment %}
  </div>
</div>

{% endblock git_repos %}
